html {
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

body {
  /* background-image: url('https://images.pexels.com/photos/6251/desk-music-headphones-earphones.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url('https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
#root {
  height: 100%;
}

.splash-container,
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.splash-container,
.login-container {
  padding-top: 150px;
}

.splash-intune {
  color: #84bd00;
}
.splash-container p {
  color: whitesmoke;
}

.header-container {
  text-align: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0);
  height: 50px;
  text-align: center;
  width: 100vw;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-container a {
  color: whitesmoke;
  font-size: 18px;
  padding: 0px 20px 0px 20px;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.logout-link p {
  font-size: 18px;
}
.logout-link p:hover {
  color: #84bd00;
}

.spotify-auth-link {
  color: whitesmoke;
}

.github-link a,
.users-link a,
.home-link a,
.login-link a,
.logout-link p {
  font-size: 30px;
}
.spotify-auth-link i {
  color: #84bd00;
  font-size: 150px;
}

.spotify-auth-link i:hover {
  color: #84bd0079;
}
.header-container a:hover {
  color: #84bd00;
}

.user-dashboard {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}


.feed-container {
  padding-bottom: 5%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-post-container {
  height: 100%;
  width: 60%;
}

.feed-post-container {
  margin-bottom: 40px;
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

.feed-post-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.side-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 60px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.dashboard-side-profile-container {
  width: 20%;
  height: 70%;
  position: fixed;
  left: 0;
  top: 0;
}
.dashboard-post-feed-container {
  padding-left: 16%;
  width: 75%;
}

.side-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side-profile-info,
.now-playing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 45px 5px 45px;
}

.side-profile-info a,
.now-playing a {
  color: #84bd00;
  text-decoration: none;
}

.side-profile-info a:hover,
.now-playing a:hover {
  color: #84bd0079;
  text-decoration: none;
}

.side-profile-pic,
.now-playing-image {
  width: auto;
  height: 100px;
}

.profile-pic {
  border-radius: 50%;
}

.song-suggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
}

.song-search-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px 15px 25px;
  height: 150px;
  margin: 60px 0px 25px 20px;
}

.song-search-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-search-container input {
  width: 300px;
  font-size: 13px;
  height: 20px;
}

.user-search-container img {
  height: 50px;
  width: auto;
}

.user-search-suggestions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: none;
}
.user-name {
 padding-left: 50px;
}
.song-search-container input {
  width: 500px;
  font-size: 28px;
  height: 45px;
  padding: 5px;
  outline: none;
  border: none;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: rgba(255, 255, 255, 0.8);
}

.song-search-title {
  font-size: 23px;
}

.share-button {
  font-size: 30px;
  color: whitesmoke;
  padding:15px;
}

.share-button i:hover {
  color: #84bd00;
}

.new-post-modal {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  outline: none;
  margin-top: 25px;
  position: fixed;
  top: 0%;
  left: 26.5%;
  padding: 25px;
  height: 85%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-post-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.new-post-modal-input {
  width: 100%;
}
.new-post-modal-form textarea {
  outline: none;
  border: none;
  width: 85%;
  resize: none;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 15px;
  height: 15%;
  padding: 15px;
  border-radius: 25px;
}
.new-post-modal a {
  text-decoration: none;
  color: #84bd00;
}
.new-post-modal a:hover {
  color: #84bd0079;
}

.new-post-modal-share-button button,
.user-follow-button button {
  background: #84bd00;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 175px;
  height: 50px;
  font-weight: 300;
  color: #fefefe;
  cursor: pointer;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.user-profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.user-profile {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 55px;
  width: 60%;
  height: 18%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-info a {
  color: #84bd00;
  text-decoration: none;
}
.user-profile-info a:hover {
  color: #84bd0079;
}

.user-profile-info img {
  width: 90px;
  border-radius: 50%;
  height: auto;
}

.user-posts {
  margin-top: 20%;
  padding-bottom: 5%;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.post-container {
  margin-bottom: 40px;
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}

.post-caption {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.user-follow-button button:hover,
.new-post-modal-share-button button:hover {
  background-color: #84bd0079;
}

.player-container .info-and-control .music-info .artist {
  color: #84bd00;
}
.player-container .info-and-control .music-info .title {
  color: #84bd00;
}

.slide-pane__overlay,
.ReactModal__Overlay--after-open {
  background: transparent;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 720px) {
}

/* https://www.designpieces.com/palette/spotify-color-palette-hex-and-rgb/ */
